body {
  font-family: "Courier New", Courier, monospace;
}
h1 {
  color: #007bff;
  font-size: 40px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 15px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
}

small {
  font-size: 16px;
}
a:hover {
  text-decoration: none;
}
li:first-letter {
  text-transform: capitalize;
}
.Footer .footer,
.humidity,
.wind-speed,
.pressure,
.source-link,
.humidity-param,
.wind-speed-param,
.pressure-param,
.weather-forecast-temp-max,
.description {
  font-weight: bold;
  color: #007bff;
  text-decoration: none;
}

.pressure-text,
.date,
.description,
.humidity-param,
.wind-speed-param,
.pressure-param,
.units {
  white-space: nowrap;
}
.overview {
  margin-bottom: 20px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.WeatherAppBody .weather-app {
  max-width: 600px;
  margin: 30px auto;
  margin-bottom: 0;
  padding: 15px;
  border: 1px solid #007bff;
  border-radius: 10px;
}
.weather-temperature img {
  height: 60px;
  width: 60px;
}

.temperature {
  font-size: 60px;
  font-weight: bold;
  color: #4b4d52;
  line-height: 1;
}
.temperature-text {
  padding: 0px;
}
.units {
  font-size: 15px;
  font-weight: bold;
}
.active {
  color: #4b4d52;
  cursor: default;
}
.weather-forecast {
  text-align: center;
  margin-top: 15px;
}
.forecast-class {
  display: flex;
  justify-content: space-around;
  margin: 0 10px;
  padding: 0 30px 0 0;
  text-align: center;
}
.WeatherAppBody .search-button {
  text-align: center;
  padding: 0 10px;
  white-space: nowrap;
}
.forecast {
  font-size: 16px;
}

.your-location-button {
  white-space: nowrap;
  font-size: 13px;
  padding: 10px;
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
  .your-location-button {
    font-size: 12px;
  }
  .temperature {
    font-size: 35px;
  }
  img {
    width: 35px;
    height: 35px;
  }
}
